.rtl{
    direction: rtl;
}


body{
    font-family: 'Cairo', sans-serif;
}


h1, h2, h3, h4, h5, h6,
p,
.nav-pills a
{
    text-align: right;
}


.flaticon-cardiogram, .block-23 ul{
    float: right;
}


.flaticon-cardiogram{
    margin-left: 10px;
}
.slider-sec .item-content .text-over-slider h1 {
    font-family: 'Cairo', sans-serif;

}
.ftco-services .tab-content .tab-pane .icon{
    text-align: right !important;
}
.align-right-rtl{
    text-align: right !important;
}
.float-right-rtl{
    float: right !important;
}
.block-23 ul li .icon{
    float: left !important;
<<<<<<< HEAD
}

.pt-20-rtl{
    padding-top: 20px;
=======
    text-align: right;
}
.block-23 ul li .icon, .block-23 ul li .text{
    float: right !important;
}
.show-more-style{
    margin-right: 10px;
>>>>>>> e35cd31d1647389cbae29f8016a346b3e874555e
}